@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Baloo Thambi 2', sans-serif;
  font-size: 16px;
  margin:0;
  padding:0;
}

body {
  @apply bg-primary p-6;
}

.main {
  @apply bg-softwhite rounded-t-3xl h-full w-full overflow-hidden border-primary;
}
.navbar {
  @apply fixed z-20 w-[calc(100vw-3rem)] h-16 bg-secondary border-b-4 border-primary flex items-center text-3xl text-softwhite font-semibold rounded-t-xl overflow-hidden;
}

.navbar-link {
  @apply  float-right flex justify-end items-center;
}

.navbar-link>li {
  @apply hover:bg-primary h-full px-6 py-4 cursor-pointer;
}

.hero {
  @apply h-[calc(100vh-6rem)] mt-2 px-32 flex justify-center items-center gap-20;
}

.contents {
  @apply flex flex-col gap-5;
}
.contents>p{
  @apply text-2xl;
}

.heading-jumbo {
  font-size: 6rem;
  line-height: 0.9;
  font-weight: 700;
  @apply flex flex-col;
}

.methods,
.dot,
.comment,
.methods,
.propname,
.scope,
.string,
.number,
.prop2 {
  display:inline;
  letter-spacing: 4px;
}

.code {
  color: white;
}

.methods {
  color: #5918df;
}

.propname {
  color: #eeff31;
}

.dot,
.comment {
  color: #3b3553;
}


.string {
  color: #23e394;
}

.prop2 {
  color: #24e33a;
}

.scope {
  color: #e3244c;
}

.number {
  color: #e39d24;
}







.about-container {
  @apply px-32 mb-4 relative mt-20;
}

.about {
  @apply text-lg border-4 border-primary p-12 bg-secondary text-purple-700 font-bold;
  position:relative;
}


.title-container {
  @apply w-full px-32 z-10;
}

.title-style {
  @apply h-16 border-b-4 border-primary;
}

.title {
  @apply w-48 h-full text-2xl text-center text-softwhite border-l-4 border-t-4 border-r-4 border-primary bg-secondary flex items-center justify-center;
}

.projects {
  @apply px-32 flex flex-col justify-center items-center mt-6 mb-20;
}

.project-container {
  @apply w-full h-[100vh] border-4 border-primary flex my-8;
}

/* width */
::-webkit-scrollbar {
  width: 25px;
}

/* Track */
::-webkit-scrollbar-track {
  border-left: 3px solid rgb(34, 34, 34);
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-secondary;
  border-left: 3px solid rgb(34, 34, 34);
  border-bottom: 3px solid rgb(34, 34, 34);
  border-top: 3px solid rgb(34, 34, 34);
}